<!-- Add your splash page here. -->

<!-- Custom font -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

<!-- Custom CSS -->
<style>
	body { font-family: 'Open Sans', sans-serif; }
	li { list-style-type: none; }
	hr { width: 50vw; }
	.container { padding: 0 20px; }
	.small { font-size: 14px; }
</style>

<center>
	<div class="container">
		<h1>Angular Seed</h1>
		<h4>By Ian Civgin</h4>
		<hr>
		<h3>How to use this seed:</h3>
		<ul>
			<li><b>1.</b> Fork and clone this repo.</li>
			<li><b>2.</b> Run npm install</li>
			<li><b>3.</b> Start your server with nodemon or "npm start"</li>
			<li><b>4.</b> Change app name in all app.js, index.html, controllers.js, and services.js</li>
			<li><b>4.</b> Modify to your liking :)</li>
		</ul>
		<hr>
		<p class="small">Thanks for using this seed. For any feedback, contact Ian at imciv2@gmail.com or make a pull request!</p>
	</div>
</center>